@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}


header {
    width: 100%;
    height: 86px;
    position: sticky;
    top: 0;
    border-bottom: 1px solid rgb(238, 238, 238);
    background-color: white;
    display: flex;
    align-items: center;
}
.header-container {
    width: 100%;
    display: flex;
    align-items: center;
}
.header-left {
    margin-left: 32px;
    margin-right: 100px;
}
.header-location {
    margin-right: 40px;
}
.header-location-title {
    color: rgb(0, 0, 0);
    font-weight: 800;
    margin-bottom: 6px;
    font-size: 18px;
}
.header-location-address {
    font-size: 13px;
    color: rgb(0, 0, 0);
    font-weight: 400;
}
.header-search {
    width: 832px;
    height: 46px;
    cursor: text;
    border: 1px solid rgba(0, 0, 0, 0.04);
    padding: 0px 12px;
    border-radius: 12px;
    background: rgb(248, 248, 248);
    display: flex;
    align-items: center;
    gap: 8px;
    margin-right: 70px;
}

.header-search input {
    background-color: transparent;
    border: none;
    outline: none;
}
.header-login {
    font-size: 18px;
    font-weight: 400;
    color: rgb(54, 54, 54);
    margin-right: 70px;
}
.header-right {
    width: 112px;
    height: 52px;
    background-color: rgb(12, 131, 31);
    color: white;
    font-size: 14px;
    font-weight: 600;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}



main {
    display: flex;
    justify-content: center;
}
.main-container {
    max-width: 1280px;
}
.section-1, .section-1 img {
    width: 100%;
}
.section-2 {
    margin: 0 16px;
    display: flex;
    overflow: auto scroll;
    gap: 20px;
    border-radius: 12px;
}
.section-2-img {
    height: 195px;
    width: 335.4px;
    cursor: pointer;
    display: flex;
}
.section-2-img img {
    height: 100%;
}
.section-3 {
    margin-top: 16px;
    display: flex;
    flex-wrap: wrap;
}
.section-3-img {
    width: 128px;
}
.section-3-img img {
    width: 100%;
}
.section-4 {
    margin: 16px;
}
.section-header {
    font-size: 24px;
    font-weight: 500;
}
.section-list {
    margin-top: 16px;
    width: 100%;
    display: flex;
    overflow: auto scroll;
    gap: 20px;
}
.product-card {
    padding: 12px;
    width: 154px;
    border: 0.5px solid rgb(221, 221, 221);
    border-radius: 8px;
}
.product-card img {
    width: 100%;
}
.product-card-title {
    font-size: 14px;
    margin-bottom: 2px;
}
.product-card-desc {
    font-size: 12px;
    margin-bottom: 12px;
    color: #757575;
}
.product-action {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.product-action button {
    width: 90px;
    height: 36px;
    background-color: rgb(247, 255, 249);
    border: 0.5px solid rgb(12, 131, 31);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product-qty {
    font-size: 14px;
}


footer {
    margin-top: 32px;
    padding: 20px;
    text-align: center;
    background-color: lightgoldenrodyellow;

}
#my-footer-row-3{
    font-size: 15px;
    text-align: justify;
    color: grey;
}


#my-footer-row-2{
    font-size: 13px;
    text-align: justify;
    color: grey;
    display: flex;
   margin-top: 20px;
   margin-bottom: 20px;
}
#footer__row__2__col1{
    flex:1;
    padding-inline:10px;
   
}
#footer__row__2__col2{
    flex:1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#footer__row__2__col1>h6{
    color: grey;
}
.some-box{
    width: 120px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: white;
    text-align: center;
    background-color: #213a50;
}



.social-icon{
    width: 50px;
    height: 50px;
    background-color: black;
    color: white;
    display: flex;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 50%;
}
.social-icon:hover{
    color: black;
    background-color: #f8cb45;
    box-shadow: 3px 3px 15px black;
}

#my-footer-row-1{
    display: flex;
    margin-top: 30px;
}


#footer__table__1{
    flex: 2;
    width: 100%;
}
#footer__table__2{
    flex: 3;
    
}

table{
    width: 100%;
}
td{
    color: #666666;
    line-height: 30px;
}
td:hover{
    line-height: 30px;
    text-decoration: underline;
    cursor: pointer;
    color: red;
}


@media screen and (max-width:480px){
    #hero-section{
        display: none !important;
    }
    nav,#my-footer-row-1{
        flex-direction: column !important;
        align-items: center !important;
        margin: auto;
    }
    #my-footer-row-2,#footer__table__1,#footer__table__2,#footer__row__2__col2{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }
    td{
        padding-inline: 12px;
        text-align: center;
        font-size: 12px;
    }
    .some-box{
        margin-top: 10px;
    }
    #footer__row__2__col3{
        justify-content: space-between;
        width: 90vw;
        margin: auto;
        margin-top: 10px;
    }
    .vertical-line{
        display: none;
    }
    #my-nav-search{
        width: 90vw;
    }
    nav{
        padding-top: 20px;
        padding-bottom: 20px;
        position: static;
    }

